app/views/partials/sub-top-navbar.html
<!-- START Sub Top Navbar-->
<nav ng-show="app.layout.hasSubTopNavBar" class="navbar sub-topnavbar">
   <!-- START Sub Nav wrapper-->
   <div class="sub-nav-wrapper">
      <!-- START Tab-->
      <div class="sub-nav-tab-wrapper">
         <div class="sub-nav-tab-items">
            <a href="" ng-class="{'active': subtopnavbar.tabId==$index}" ng-click="onSelectTab($index)" ng-repeat="item in subtopnavbar.items" class="sub-nav-tab-item">
               <em class="{{item.iconClass}}"></em>
               <span>{{item.title}}</span>
            </a>
         </div>
      </div>
      <!-- END Tab-->
      <!-- START Back Button-->
      <div class="sub-nav-back-wrapper">
         <a ui-sref="{{subtopnavbar.navBack.uri}}">
            <em class="icon-nav-back"></em>
            <span class="hidden-xs">{{subtopnavbar.navBack.title}}</span>
         </a>
      </div>
      <!-- END Back Button-->
   </div>
   <!-- START Sub Nav wrapper-->
</nav>
<!-- END Sub Top Navbar-->

master/jade/views/partials/sub-top-navbar.jade
// START Sub Top Navbar
nav.navbar.sub-topnavbar(ng-show='app.layout.hasSubTopNavBar')
  // START Sub Nav wrapper
  .sub-nav-wrapper
    // START Tab
    .sub-nav-tab-wrapper
      .sub-nav-tab-items
        a.sub-nav-tab-item(
        href=''
        ng-class="{'active': subtopnavbar.tabId==$index}"
        ng-click='onSelectTab($index)'
        ng-repeat="item in subtopnavbar.items"
        )
          em(class="{{item.iconClass}}")
          span {{item.title}}
    // END Tab
    // START Back Button
    .sub-nav-back-wrapper
      a(ui-sref="{{subtopnavbar.navBack.uri}}")
        em.icon-nav-back
        span.hidden-xs {{subtopnavbar.navBack.title}}
    // END Back Button
  // START Sub Nav wrapper
// END Sub Top Navbar
